.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  max-width: 720px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 32px auto;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto 16px auto;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}